*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: sans-serif;
	color: rgb(226, 226, 226);
	font-size: 1.2rem;
	text-shadow: black 1px 0 1px;
}

body {
	background: url('../images/night-background.jpg');
	height: 100vh;
	background-size: cover;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 10% auto;
	width: 40%;
}

.weather-details {
	display: flex;
	justify-content: space-evenly;
}

.input-form {
	position: absolute;
	top: 15px;
	left: 15px;
}

.location {
	font-size: 3.5rem;
}

.temperature {
	font-size: 3.5rem;
	margin-top: 25px;
}

.weather-description {
	font-size: 2.2rem;
	margin-bottom: 50px;
}

.wind,
.feels-like,
.humidity {
	font-size: 2rem;
}

.weather-detail {
	font-size: 1.5rem;
}

.input-form__input {
	text-align: left;
	position: relative;
	height: 2rem;
	width: 12.5rem;
	border: 1px solid hsl(220, 9%, 87%);
	border-radius: 0.5rem;
	outline: none;
	background: none;
	font-size: 1rem;
	padding: 1rem;
	z-index: 1;
	transition: 0.3s ease-in;
	text-shadow: none !important;
}

.input-form__input:focus,
.input-form__input:hover {
	border-color: hsl(214, 82%, 51%);
}

.input-form__input.invalid {
	border-color: red !important;
}

.input-form__input.invalid::placeholder {
	color: hsl(0, 100%, 70%);
}
